body {
  background-color: #222;
  margin: 0;
  --green: rgb(60,179,113);
  --teal: rgb(45,110,113);
  --lightteal: rgb(50,121,124);
  --blue: rgb(44,44,192);
  --darkblue: rgb(30,30,130);
}
button:focus, input:focus {
  outline: none;
}
@font-face {
  font-family: 'Kabel';
  src: url('kabel.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kabel';
  src: url('Kabel-Heavy.woff') format('woff'),
       url('Kabel-Heavy.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
#header {
  height: 50px;
  width: 100%;
  background-color: #383838;
}
#header > img {
  height: calc(100% - 6px);
  width: auto;
  padding: 3px;
  margin: auto;
  display: block;
}
#dock {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #383838;
  display: flex;
}
#dock > svg {
  width: 100%;
  height: 40px;
  padding: 3px;
  fill: white;
  border-radius: 10px;
  border: 2px solid #383838;
}
#dock > svg.viewing {
  border: 2px solid white;
}
#dock > svg:hover {
  background-color: #484848;
  cursor: pointer;
}
#container {
  height: calc(100vh - 100px);
  width: 100%;
  position: absolute;
  top: 50px;
}
.page {
  border-top: 5px solid;
  width: 100%;
  height: calc(100% - 5px);
  display: none;
  overflow: auto;
}
.page:first-of-type {
  border-top-color: var(--green);
  display: block;
}
.page:nth-of-type(2) {
  border-top-color: var(--lightteal);
}
.page:nth-of-type(3) {
  border-top-color: var(--teal);
}
.page:nth-of-type(4) {
  border-top-color: var(--blue);
}
.page:nth-of-type(5) {
  border-top-color: var(--darkblue);
}
.page:nth-of-type(6) {
  border-top-color: white;
}
.page:nth-of-type(7) {
  border-top-color: #ccc;
}
.checkCont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.checkCont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkCont:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkCont input:checked ~ .checkmark {
  background-color: var(--green);
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.checkCont input:checked ~ .checkmark:after {
  display: block;
}
.checkCont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#launchBtn, #gameBtn, #resetBtn {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  color: white;
  background-color: #555;
  margin: 0 12px 12px 12px;
  border: none;
  font-size: 22px;
}
#launchBtn:hover, #gameBtn:hover, #resetBtn:hover {
  background-color: #666;
}
#addBtn, #nfcBtn {
  margin: 12px;
  height: 30px;
  width: 30px;
  fill: white;
}
#playerName {
  padding: 5px;
  margin: 12px;
}
.propRow {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #444;
}
.propRow:last-of-type {
  border-bottom: none;
}
.propTop {
  display: flex;
  height: 35px;
}
.propColor {
  height: 35px;
  width: 5px;
  flex-shrink: 0;
}
.propName {
  height: 35px;
  line-height: 35px;
  font-family: 'Kabel', sans-serif;
  color: white;
  font-size: 25px;
  padding: 0px 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.propBtn {
  height: 31px;
  width: 31px;
  margin: 2px;
  fill: white;
  border-radius: 5px;
  flex-shrink: 0;
}
.propBtn:not(.disabled):hover {
  background-color: #444;
}
.propTog {
  display: none;
}
.propBot {
  padding: 8px;
}
.propTable {
  background-color: #444;
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-family: 'Kabel', sans-serif;
  font-size: 14px;
  text-align: center;
}
.playerRow {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #444;
}
.playerRow:last-of-type {
  border-bottom: none;
}
.playerTop {
  height: 50px;
  width: 100%;
  display: flex;
}
.playerName, .playerBal {
  height: 50px;
  line-height: 50px;
  font-family: 'Kabel', sans-serif;
  font-size: 30px;
  width: calc(100% - 10px);
  padding-left: 10px;
}
.playerBal {
  color: gold;
  text-align: center;
}
.playerBtn {
  height: 40px;
  width: 40px;
  margin: 5px;
  flex-shrink: 0;
  border-radius: 5px;
  fill: white;
}
.playerBtn:hover {
  background-color: #555;
}
.playerGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  grid-gap: 5px;
}
.playerAsset {
  height: 30px;
  display: flex;
}
.playerAssetColor {
  height: 30px;
  width: 5px;
  flex-shrink: 0;
}
.playerAssetAbbr {
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin-left: 5px;
  font-family: 'Kabel', sans-serif;
  color: white;
  font-size: 20px;
}
